.tableClass {
  z-index: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
} 

.tableClass:hover {
  z-index: 2;
  position: relative;
  transform: scale(1.28);
  -webkit-transform: scale(1.28);
  -moz-transform: scale(1.28);
  -ms-transform: scale(1.28);
  -o-transform: scale(1.28);
}

.profName {
  font-size: small;
  margin: auto;
}